.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.article-0 {
  height: 100vh;
}

.globalNav {
  height: 44px;
  padding: 10px 1rem;
}

.globalNav-link {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.globalNav-list {
  font-size: 1rem;
  font-weight: 600;
  color: white;
  transform: 0.2s all;
}

.globalNav-list:hover {
  color: rgb(99, 99, 102);
}

.globalNav-list:not(:nth-child(4)) {
  display: none;
}

.globalNav-logo path {
  fill: white;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.VisionPro_logo {
  width: 30%;
}

.VisionPro_item {
  max-width: 56%;
  height: auto;
}

.modelling-section {
  height: 100vh;
  width: 100%;
  background-color: white;
  color: black;
}

.modelling {
  display: flex;
  flex-direction: column;
  justify-content: center ;
  gap: 50px;
  align-items: center;
  height: 100%;
}

.apple_logo{
  width: 5rem;
}

.VisionPro_logo2{
  width: 12rem;
}

.modelling-desc>h2 {
  font-size: 2.5rem;
  font-weight: 500;
  margin: 0;
}

#modellingBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22vw;
  border: 3px solid black;
  border-radius: 44px ;
  height: 3vw;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  padding: 2vw 0;
}

#modellingBtn>p {
  font-size: 2rem;
}

.product{
  background-color: white;
  width: 30%;
}

#footer {
  height: 50vh;
  background: #F3F3F3;
}

@media (min-width: 1024px) {
  .globalNav-list:not(:nth-child(4)) {
    display: block;
  }
}